In [1]:
import numpy as np
import sys
import pandas as pd
sys.path.append('../../')

from src.data.cleaning import clean_raw

### Load data

In [2]:
df = pd.read_csv('../../data/raw/raw_scraped.csv')
print(df.shape)
df.head(2)

(27588, 6)

,title,meta,gender,body,agree,deserved
0,Sore loser,"\n By Anonymous , - 13/03/2024 ...","fa fa-male,fa fa-share,fa-brands fa-x-twitter ...","\n Today, I have an excruciatingly sore...",18,1
1,Connoisseur,"\n By Anonymous , - 13/03/2024 ...","fa fa-female,fa fa-share,fa-brands fa-x-twitte...","\n Today, I was reprimanded by my mom a...",43,23

## CLEANING

In [3]:
new = clean_raw(df)
new.head(2)

,title,gender,body,agree,deserved,user,date,time,location
0,sore loser,male,"today, i have an excruciatingly sore throat du...",18,1,anonymous,13/03/2024,08:00,united states
1,connoisseur,male,"today, i was reprimanded by my mom and her cur...",43,23,anonymous,13/03/2024,06:00,united states